/* Variaveis de cor */
:root {
    --color-branco: #fff;
    --color-azul-escuro: #0583F2;
    --colo-azul-claro: #49C2F2;
    --color-fundo: #0000009e;
    --color-preto: #000000;
}

/* Fim das variaves de cor */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'QuickSand', Arial, Helvetica, sans-serif;
}

html,
body {
    overflow-x: hidden !important;
}

.h1 {
    display: none;
}

/* Inicio do header */
header ul {
    list-style: none;
    display: flex;
    text-align: center;
}
header a {
    text-decoration: none;
    padding-right: 30px;
}   
header img {
    width: 60px;
}
.input-buscar {
    width: 100%;
    height: 50px;
}
.btn-buscar {
    position: relative;
    margin-left: -12px;
    width: 150px;
    height: 50px;
}

/* Fim do header */

/* Inicio do main */
main {
    background-color: #f1f1f1;
}

/* Fim do main */

/* Inicio do login */
#shadow {
    background-color: var(--color-fundo);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

#shadow #login_form {
    background-color: var(--color-branco);
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
    border-radius: 10px;
    gap: 30px;
}


/* Animação do X(fechar) */
#fechar {
    transition: ease 2s;
}

#fechar:hover {
    transform: rotate(360deg);
}

/* Fim da animação */

#cima_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#cima_form a {
    color: var(--color-preto);
    text-decoration: none;
}

#cima_form h1 {
    font-size: 40px;
    position: relative;
}

#rede-social img {
    width: 35px;
}

#rede-social img:hover {
    transform: scale(1.2);
}

#rede-social {
    display: flex;
    justify-content: space-around;
}

#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.input label {
    font-size: 20px;
    color: var(--color-preto);
}

.input-login {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-azul-escuro);
}

.input-login i {
    font-size: 20px;
    color: var(--color-preto);
}

.input-login input {
    border: none;
    width: 70%;
    background-color: transparent;
    font-size: 18px;
    padding: 0px 5px;
}

.input-login input:focus {
    outline: none;
}

/* Inicio do Botão do login */

#shadow .custom-btn {
    height: 40px;
    color: var(--color-branco);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    z-index: 0;
}

#shadow .btn-15 {
    background: #1f1f1f;
    border: none;
    z-index: 0;
    width: 60%;
    height: 45px;
}

#shadow .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: var(--color-azul-escuro);
    border-radius: 5px;
    transition: all 0.6s ease;
}

#shadow .btn-15:hover {
    color: #fff;
}

#shadow .btn-15:hover:after {
    left: 0;
    width: 100%;
}

/* Fim do Botão do login */
/* Fim do login */


/* Inicio do editar */
main #editar {
    font-style: normal;
    color: #000000;
    text-decoration: none;
}



#shadow #editar_form {
    background-color: var(--color-branco);
    width: 800px;
    padding: 30px 20px;
    border-radius: 10px;
}

#editar_form #texto_cima {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#texto_cima h1{
    font-size: 25px;
    font-weight: 400;
    font-style: initial;
}

#texto_cima a {
    color: #000000;
    text-decoration: none;
}

#inputs_editar {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#inputs_editar .input label {
    font-size: 18px;
    color: var(--color-preto);
    margin-left: 20px;
}

.input-editar {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    width: 44vh;
    margin-left: 20px;
    border-bottom: 1px solid var(--color-azul-escuro);
}

.input-editar input {
    border: none;
    width: 100%;
    background-color: transparent;
    font-size: 16px;
}

.input-editar input:focus {
    outline: none;
}

.row-input {
    display: flex;
}

#descricao textarea{
    width: 93%;
    margin: 0px 20px;
    border: 1px solid var(--color-azul-escuro);
    border-radius: 5px;
    height: 100px;
}

#descricao textarea:focus{
    outline: none;
}

#botao_editar {
    text-align: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: -10px;
}

/* Fim do editar */


/* Card dos Idelizadores */
.card-idelizadores {
    text-decoration: none;
}
/* Fim dos card dos Indelizadores */

/* Inicio do obrigado  */
.card-obrigado{
    margin: 50px 0px;
}
/* Fim do obrigado */

/* Inicio do footer */
footer {
    background-color: #fff;
}

.pt-footer {
    padding-top: 60px;
}

footer img {
    width: 280px;
}

footer a,
footer ul li {
    text-decoration: none;
    list-style: none;
}

footer a {
    color: #8a8a8a;
}

footer .container {
    color: #aaaaaa;
}

footer ul {
    padding-left: 0rem;
}

footer a:hover {
    color: dodgerblue;
    transition: 0.5s all;
}

/* Fim do footer */


/* Inicio do css Editar responsivo */
@media screen and (max-width: 850px) {
    #shadow #editar_form {
        width: 500px;
    }
    
    #texto_cima h1{
        font-size: 20px;
    }
    

    #inputs_editar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .input-editar{
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 3px;
        cursor: text;
    }
    
    .input-editar input:focu {
        border: none;
        width: 70%;
        background-color: transparent;
        font-size: 18px;
        padding: 0px 5px;

    }

    .row-input {
        display: block;
    }

    #descricao textarea{
        width: 320px;
    }
}

@media screen and (max-width:500px) {
    #shadow #editar_form {
        width: 380px;
    }
}
/* Fim do css do Editar */


@media screen and (min-width: 993px) {
    .dropdown .dropdown-menu .show:focus {
        display: none !important;
    }
    .dropdown:hover .dropdown-menu .show:hover {
        display: block !important;
    }
    .dropdown:focus .dropdown-menu:focus .show:focus{
        display: block !important;
    }
}

