* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'QuickSand', Arial, Helvetica, sans-serif;
}

h1 {
    display: none;
}

header {
    height: 150px;
    background-color: #E8E4DB;
}
 header ul {
    list-style: none;
    display: flex;
    text-align: center;
}
header a {
    text-decoration: none;
    padding-right: 30px;
}   
header img {
    width: 60px;
}
.input-buscar {
    width: 100%;
    height: 50px;
}
.btn-buscar {
    position: relative;
    margin-left: -7px;
    width: 150px;
    height: 50px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
input[type=search]:focus, .form-control:focus{
    box-shadow: inset 0 -2px 0 dodgerblue;
}

header a:hover {
    color: black;
    transition: 0.5s all;
}
footer {
    background-color: #E8E4DB;
}
.pt-footer{
    padding-top: 60px;
}
footer img {
    width: 350px;
}
footer a, footer ul li {
    text-decoration: none;
    list-style: none;
}
footer a {
    color: #8a8a8a;
}
footer .container{
    color: #aaaaaa;
}
footer ul {
    padding-left: 0rem;
}
footer a:hover {
    color: dodgerblue;
    transition: 0.5s all;
}